include LICENSE
include NOTICE
include README.md

include pympler/templates/*.html
include pympler/templates/*.tpl
include pympler/templates/*.css
include pympler/templates/*.js

include pympler/static/*.js

recursive-include doc *
prune doc/source
prune doc/build
